## 1. Group By Day

In [ ]:
SELECT
DATE(created_at) as "day", description as "description", count(*) as "count"
FROM events
WHERE name = 'trained'
GROUP BY "day", "description"
ORDER BY "day"

## 2. Countries Capitals for Trivia Night

In [ ]:
SELECT capital
FROM countries
WHERE (continent LIKE 'Af%') and (country LIKE 'E%')
ORDER BY capital
LIMIT 3

## 3. Transactions

In [ ]:
SELECT 
  DATE(s.transaction_date) as "day",
  d.name as department,
  COUNT(s.id) as sale_count
  FROM department d
  INNER JOIN sale s on d.id = s.department_id
  group by "day", department
  order by "day"""